.card {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  padding: 25px;
  width: 100%;
  min-height: 360px;
  border: 1px solid rgba(143, 154, 157, 0.2);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  border-radius: 2px;
  transition: border-color 0.5s;

  &:hover {
    border-color: $color6;
  }

  &:after {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    width: 182px;
    height: 164px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
  }

  &_live {
    border-color: $color6;

    &:after {
      background-image: url("/assets/images/card/card-live-star.svg");
    }
  }

  &_finish {
    &:after {
      background-image: url("/assets/images/card/card-finish-star.svg");
    }
  }

  &_upcoming {
    &:after {
      background-image: url("/assets/images/card/card-upcoming-star.svg");
    }
  }

  &__link,
  &-date {
    position: absolute;
    z-index: 1;
    top: 15px;
    right: 15px;
    text-align: center;
  }

  &__link {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: $color1;
    transition: opacity 0.5s;

    &:hover {
      opacity: 0.7;
    }

    .icon {
      width: 25px;
      height: 25px;
      margin-bottom: 8px;
      margin-right: 5px;
    }
  }

  &-date {
    &__time {
      font-size: 24px;
      font-weight: 700;
      line-height: 35px;
      color: $color4;
    }

    &__number {
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.01em;
      color: $color5;

    }
  }

  &__tournament {
    max-width: 145px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: $color5;
  }

  &__inner {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &_modify {
      .card__team-name,
      .card__team-score {
        color: $color5;
      }
    }
  }

  &__logos {
    margin-bottom: 15px;
  }

  &__team-logo {
    max-width: 50px;

    + .card__team-logo {
      margin-left: 15px;
    }
  }

  &__team-name,
  &__team-score {
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    color: $color4;
  }

  &__team-name {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__discipline {
    max-width: 30px;
    margin-bottom: 15px;
  }

  &__outcome {
    min-width: 60px;
    padding-left: 11px;
    padding-right: 11px;
    border: 1px solid rgba(151, 151, 151, 0.1);
    font-size: 12px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: $color4;
    background-color: $color2;
  }

  &__position {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }

  &__matches {
    min-width: 105px;
    padding: 10px 20px;
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $color5;
    background-color: $color7;
    border-radius: 4px;
  }

  &__main {
    margin-top: auto;
  }

  &-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;

    .icon {
      width: 16px;
      height: 16px;
      margin-right: 10px;
      color: $color8;
    }

    &__text {
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.01em;
      color: $color5;
    }

    &__partner {
      max-width: 62px;
      margin-top: 3px;
    }
  }
}
