.events {
  padding-top: 90px;
  padding-bottom: 90px;

  &-tabs {
    border-top: 2px solid $color6;

    &__item {
      padding: 15px 40px;
      font-size: 18px;
      font-weight: 700;
      line-height: 30px;
      letter-spacing: 0.01em;
      color: $color4;
      transition: background-color 0.5s, color 0.5s;

      &:hover,
      &.active {
        background-color: $color6;
        color: $color1;
      }
    }
  }

  &__title {
    font-size: 32px;
    font-weight: 700;
    line-height: 45px;
    color: $color4;
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
    margin: 42.5px -17.5px 72.5px -17.5px;
  }

  &-card {
    width: 25%;

    &__wrapper {
      padding: 17.5px;
    }
  }

  &-text {
    max-width: 782px;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.01em;
    color: $color5;

    &__link {
      color: $color6;
      transition: opacity 0.7s;

      &:hover {
        opacity: 0.5;
      }
    }
  }

  &__registered {
    margin-top: 25px;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.01em;
    color: $color4;
  }
}
